<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ toDo.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-label position="floating">
        Nueva tarea
      </ion-label>
      <ion-input type="text" [(ngModel)]="itemName" (keyup.enter)="addItem()">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-list color="dark">
    <ion-list-header color="dark" *ngIf="toDo.items.length > 0">
      <ion-label>Tareas por hacer</ion-label>
    </ion-list-header>
    <ion-item-sliding
      class="animated fadeInDown"
      *ngFor="let item of toDo.items; let i = index"
    >
      <ion-item color="dark">
        <ion-label>
          {{ item.description }}
        </ion-label>
        <ion-checkbox
          slot="start"
          color="tertiary"
          [(ngModel)]="item.completed"
          (ionChange)="validateCompleted()"
        >
        </ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="removeItem(i)" color="danger">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
